#cable {
    background: black;
    height: 150px;
    width: 15px;
    margin: auto;
}

#trafficLight {
    background: black;
    height: 300px;
    width: 150px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 15px;
}

#redCircle,
#yellowCircle,
#greenCircle {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 50%;
}

#redCircle {
    background: red;
}

#yellowCircle {
    background: yellow;
}

#greenCircle {
    background: green;
}